* {
    margin: 0;
    padding: 0;
}

ul {
    background-color: black;
    color: white;
    width: 200px;
    height: 250px;
}

.main {
    background-color: red;
    width: 145px;
}

.image {
    width: 344px;
    height: 600px;
    background-image: url(photo.jpg);
    background-repeat: no-repeat;
    background-size: 340px 340px;
    background-color: aqua;
    background-attachment: fixed;
}

.mohit {
    background: red url(photo.jpg) no-repeat fixed;
    width: 344px;
    height: 600px;
    background-size: 340px 340px;
}